<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>This is a blog page</h1>
    <h1>
        <%= blog_post %>

    </h1>
    <h2>
        <%= blog.post_title %>
    </h2>
    <h2>
        <%= blog.post_category %>
    </h2>
    <ul>
        <%= blog.post_editor.forEach(function(item){ %>
            <li>
                <% item %>
            </li>
            <% }); %>
    </ul>
</body>

</html>